{{> menu active="about"}}

<section class="hero">
    <div class="hero-body has-text-centered">
        <p class="title">
            PubCrawl: Discover bars and joyn PubCrawls</p>
        </p>
        <p class="box">
            Here should be a description and some pictures
        </p>
    </div>
</section>