{{> menu active="discover"}}

<div class="content">
    <div class="columns">
        <div class="column has-text-centerd relative md:fixed sm:w-full md:w-10/12 p-2 h-screen">
            {{> map}}
        </div>
        <div class="column has-text-centered is-one-quarter hidden md:block w-full md:w-2/12 ml-auto map-side is-95vh">
            {{> map-pub-list}}
        </div>
    </div>
</div>

<style>
    .map-side{
        overflow-y: scroll;
    }
</style>