{{> menu active="discover"}}

<div class="columns is-vcentered">
    <div class="column has-text-centerd">
        {{> map}}
    </div>
    <div class="column box has-text-centerd">
        <p>side menu</p>
    </div>
</div>