{{> menu active="home"}}

<div class="box">
    <div class="columns">
        <div class="column">
            <section class="section">
                <h1 class="title">Welcome to PubCrawl</h1>
                <h2 class="subtitle">
                    <a href="/dashboard"><b>Dashboard</b></a>
                </h2>
            </section>
        </div>
        <div class="column">
                <figure class="image">
                    <img src="/images/logo-on-frame.png">
                  </figure>
        </div>
    </div>
</div>