{{> menu}}

<section class="section">
    <div class="title">
        {{publist.title}}
    </div>
    {{> list-pubs}}
    {{> add-pub}}
    <div class="column">
        {{> publist-image }}
    </div>
</section>