<form class="box" action="/publist/{{publist._id}}/addpub" method="POST">
  <label>Enter Pub Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Name" name="name">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter City" name="city">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Country" name="country">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Latitude" name="lat">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Longitude" name="lng">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Pub</button>
</form>