<form action="/home/addpublist" method="POST">
    <div class="field">
        <label class="label">Publist Title</label>
        <input class="input" type="text" placeholder="Enter publist title" name="title">
    </div>
    <button class="button is-link">Add Publist</button>
</form>