<form class="box" action="/publist/{{publist._id}}/addpub" method="POST">
  <label>Enter Pub Details:</label>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Enter Name" name="name">
    </div>
  </div>

  <div class="field">
    <label class="label">City</label>
    <div class="control">
      <input class="input" type="text" placeholder="Enter City" name="city">
    </div>
  </div>

  <div class="field">
    <label class="label">Country</label>
    <div class="control">
      <input class="input" type="text" placeholder="Enter City" name="country">
    </div>
  </div>

  <div class="field">
    <label class="label">Latitude</label>
    <div class="control">
      <input class="input" type="text" placeholder="Enter Latitude" name="lat">
    </div>
  </div>

  <div class="field">
    <label class="label">Longitude</label>
    <div class="control">
      <input class="input" type="text" placeholder="Enter Longitude" name="lng">
    </div>
  </div>

  <button class="button is-primary">Add Pub</button>
</form>