<form action="/category/music/add" method="POST">
    <div class="field">
        <label class="label">Add Music Category</label>
        <input class="input" type="text" placeholder="Enter a Music Category" name="name">
    </div>
    <button class="button is-primary">Add Music Category</button>
</form>