<div class="box" id="map" style="height: 95vh">
  Hier sollte die Karte sein!
</div>
<script>
    $(document).ready(function() {
        function onMapClick(e) {
            console.log("You clicked the map at ");
            console.log("lat: "+e.latlng.lat);
            console.log("lng:"+e.latlng.lng);
        }

        function initMap2(){
            const mapConfig = {
            location: {lat: 52.160858, lng: -7.152420},
            zoom: 8,
            minZoom: 1,
            };

            const map = new LeafletMap("map", mapConfig);
        }

        function initMap(){
            var map = L.map('map').setView([51.505, -0.09], 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© OpenStreetMap'
            }).addTo(map);

            var marker = L.marker([51.5, -0.09]).addTo(map);

            marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();

            map.on('click', onMapClick);

            let newMap = new MapManager("Ford");
            newMap.test();

            console.log(pubs);
        }

        //initMap()2;
        initMap();
    });
</script>