<nav class="navbar">
  <div class="navbar-brand">
    {{> pubcrawl-brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="home" class="button" href="/home"> Home </a>
          <a id="about" class="button" href="/about">About</a>
          <a id="logout" class="button" href="/logout"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>